.root {
  position: relative;
  width: 1900px;
  height: 940.6136px;
  align-items: flex-start;
  background-color: #0b040c;
  overflow: hidden;
}
.unsplashDVcXOkpp3fk {
  position: absolute;
  left: 0;
  top: 0;
  width: 1900px;
  height: 952px;
  
  background-image:/* webpackIgnore: true */ url('unsplashdvcxokpp3fk@2x.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}


.cLARITABLEDiv {
  position: absolute;
  top: 40%;
  left: 40%;

  letter-spacing: 0.68em;
  font-size: 200px;
  font-weight:bolder;
  display: flex;
  font-family: 'federo';
  align-items: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 1198px;
}

