.unsplashdVcXOkpp3fkIcon {
  position: absolute;
  height: calc(100% - -11px);
  width: 100%;
  top: 0;
  right: 0;
  bottom: -11px;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.cLARITABLESpan {
  line-height: 118.5%;
}
.span {
  font-size: 20px;
  line-height: 116.35%;
}
.cLARITABLETxtSpan {
  line-break: anywhere;
  width: 100%;
}
.cLARITABLEDiv {
  position: absolute;
  height: calc(100% - 801px);
  top: 406px;
  bottom: 395px;
  left: calc(50% - 572px);
  letter-spacing: 0.61em;
  display: flex;
  align-items: center;
  width: 1225px;
  cursor: pointer;
}
.desktop1 {
  position: relative;
  background-color: #0b040c;
  width: 100%;
  height: 941px;
  overflow: hidden;
  text-align: center;
  font-size: 96px;
  color: #fff;
  font-family: Federo;
}
