.eDUCATIONDiv,
.in11ChildrenGoToWorkWhen {
  position: absolute;
  top: 0;
  left: 11px;
  letter-spacing: 0.68em;
  line-height: 103.5%;
  display: flex;
  align-items: center;
  width: 464px;
  height: 72px;
}
.in11ChildrenGoToWorkWhen {
  top: 118px;
  left: 0;
  font-size: 20px;
  letter-spacing: 0.04em;
  line-height: 149%;
  font-family: Exo 2;
  width: 486px;
  height: 302px;
}
.frameDiv2 {
  position: absolute;
  top: 281px;
  right: 302px;
  width: 486px;
  height: 420px;
}
.rectangleButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
.dONATENOWDiv {
  position: absolute;
  width: calc(100% - 130px);
  top: 13px;
  right: 101px;
  left: 29px;
  letter-spacing: 0.01em;
  line-height: 103.5%;
  display: inline-block;
}
.frameDiv3 {
  position: absolute;
  top: 747px;
  left: 1112px;
  width: 258px;
  height: 83px;
  text-align: center;
  font-size: 20px;
  font-family: Exo 2;
}
.unsplashuaPaEM7MiQQIcon {
  position: absolute;
  top: 279px;
  right: 1001px;
  border-radius: 0 0 100px 100px;
  width: 576px;
  height: 470px;
  object-fit: cover;
}
.frameDiv1 {
  position: absolute;
  top: 941px;
  left: 0;
  background-color: #000;
  width: 1900px;
  height: 940.61px;
  cursor: pointer;
}
.unsplashw6caoaJzXIEIcon {
  position: absolute;
  top: -725px;
  left: -195px;
  width: 1900px;
  height: 941px;
  object-fit: cover;
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
}
.aBOUTUSDiv {
  position: absolute;
  top: 11px;
  right: 21px;
  letter-spacing: 0.01em;
  line-height: 103.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 222px;
  height: 54px;
}
.frameDiv5 {
  position: absolute;
  top: 725px;
  left: 194px;
  width: 258px;
  height: 73px;
  text-align: center;
  font-size: 24px;
}
.nowYouCanDonateWithATrus {
  position: absolute;
  top: 588px;
  left: 194px;
  letter-spacing: 0.01em;
  line-height: 103.5%;
  display: inline-block;
  width: 405px;
  height: 157px;
}
.lENDAHANDTOBRINGASMILE {
  position: absolute;
  top: 246px;
  right: 1088px;
  font-size: 90px;
  letter-spacing: 0.01em;
  line-height: 117%;
  text-transform: uppercase;
  font-family: Federo;
  display: flex;
  align-items: center;
  width: 618px;
  height: 304px;
}
.rectangleIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 106px;
}
.cLARITABLSpan {
  letter-spacing: 0.42em;
}
.eSpan {
  letter-spacing: 0.6em;
}
.cLARITABLEDiv {
  position: absolute;
  top: 53px;
  left: 91px;
  line-height: 103.5%;
  text-align: center;
  display: inline-block;
  width: 185px;
  height: 21px;
}
.hOMESpan {
  letter-spacing: 0.09em;
}
.cHARITYDiv,
.hOMEDiv,
.tRACKDiv {
  position: absolute;
  top: 56px;
  left: 1527px;
  line-height: 103.5%;
  display: inline-block;
}
.cHARITYDiv,
.tRACKDiv {
  left: 1762px;
  letter-spacing: 0.09em;
}
.tRACKDiv {
  left: 1647px;
}
.frameDiv6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1900px;
  height: 106px;
}
.frameDiv,
.frameDiv4,
.frameDiv7 {
  position: absolute;
  top: 0;
  width: 1900px;
  height: 940.61px;
}
.frameDiv4 {
  left: 0;
  cursor: pointer;
  font-size: 20px;
  font-family: Exo 2;
}
.frameDiv,
.frameDiv7 {
  left: 1px;
}
.frameDiv7 {
  top: 2048px;
  left: 0;
  width: 1440px;
  height: 1024px;
}
.intersectIcon {
  position: relative;
  width: 0;
  height: 0;
  object-fit: cover;
}
.gIRLCHILDEMPOWERMEN {
  letter-spacing: 0.68em;
}
.tSpan {
  letter-spacing: 0.98em;
}
.gIRLCHILDEMPOWERMENTContainer {
  line-break: anywhere;
  width: 100%;
}
.closeTo53OfGirlsInTheA,
.gIRLCHILDEMPOWERMENT {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 214.5%;
  display: flex;
  align-items: center;
  width: 548px;
}
.closeTo53OfGirlsInTheA {
  top: 196px;
  font-size: 20px;
  letter-spacing: 0.04em;
  line-height: 149%;
  font-family: Exo 2;
  width: 486px;
  height: 302px;
}
.frameDiv9 {
  position: absolute;
  top: 223px;
  right: 969px;
  width: 548px;
  height: 460px;
}
.rectangleDiv1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 47px;
  background-color: #727982;
  width: 186px;
  height: 46px;
}
.frameDiv10 {
  position: absolute;
  top: 747px;
  left: 383px;
  width: 258px;
  height: 83px;
  text-align: center;
  font-size: 20px;
  font-family: Exo 2;
}
.unsplashuaPaEM7MiQQIcon1 {
  position: absolute;
  top: 237px;
  right: 249px;
  border-radius: 0 0 100px 100px;
  width: 487px;
  height: 418px;
  object-fit: cover;
}
.frameDiv8,
.girlPowerDiv {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  width: 1900px;
  height: 940.61px;
}
.girlPowerDiv {
  top: 1882px;
  left: 1px;
  background-color: #c4c4c4;
  height: 941px;
  overflow: hidden;
  cursor: pointer;
}
.itHasBeenMonthsSinceRussi,
.sENDHELPTOUKRAINE {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.68em;
  line-height: 147.5%;
  display: flex;
  align-items: center;
  width: 464px;
  height: 72px;
}
.itHasBeenMonthsSinceRussi {
  top: 163px;
  font-size: 19px;
  letter-spacing: 0.04em;
  line-height: 149%;
  font-family: Exo 2;
  width: 486px;
  height: 302px;
}
.frameDiv13 {
  position: absolute;
  top: 138px;
  right: 260px;
  width: 486px;
  height: 500px;
}
.rectangleDiv2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 47px;
  background-color: #bb9263;
  width: 186px;
  height: 46px;
}
.frameDiv14 {
  position: absolute;
  top: 695px;
  left: 1154px;
  width: 258px;
  height: 83px;
  text-align: center;
  font-size: 20px;
  font-family: Exo 2;
}
.unsplashuaPaEM7MiQQIcon2 {
  position: absolute;
  top: 176px;
  right: 1045px;
  border-radius: 0 0 100px 100px;
  width: 543px;
  height: 507px;
  object-fit: cover;
}
.frameDiv11,
.frameDiv12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1900px;
  height: 941px;
}
.frameDiv11 {
  top: 2816px;
  left: 1px;
  background-color: #000;
  height: 940.61px;
  cursor: pointer;
}
.unsplashelFgCXiq1BgIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1900px;
  height: 741px;
  object-fit: cover;
}
.contactUs {
  margin-block-start: 0;
  margin-block-end: 48px;
}
.t49549P {
  margin: 0;
}
.contactUsClaritablegmail {
  position: absolute;
  top: 33px;
  left: 698px;
  letter-spacing: 0.23em;
  line-height: 103.5%;
  display: flex;
  align-items: center;
  width: 533px;
  height: 135px;
}
.frameDiv16 {
  position: absolute;
  top: 741px;
  left: 0;
  background-color: #fff7f7;
  width: 1900px;
  height: 200px;
}
.bECOMEADIFFERANCE {
  position: absolute;
  top: 555px;
  left: 387px;
  font-size: 96px;
  letter-spacing: 0.01em;
  line-height: 103.5%;
  color: #fff;
  display: inline-block;
}
.frameDiv15 {
  position: absolute;
  top: 3764px;
  left: 0;
  width: 1899px;
  height: 940.61px;
  text-align: center;
  font-size: 20px;
  color: #000;
}
.desktop2 {
  position: relative;
  background: linear-gradient(rgba(8, 8, 8, 0.2), rgba(8, 8, 8, 0.2)), #0b040c;
  width: 100%;
  height: 4705px;
  overflow: hidden;
  text-align: left;
  font-size: 32px;
  color: #fff;
  font-family: Federo;
}
