.rectangleIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 106px;
}
.cLARITABLSpan {
  letter-spacing: 0.42em;
}
.eSpan {
  letter-spacing: 0.6em;
}
.cLARITABLEDiv {
  position: absolute;
  top: 53px;
  left: 91px;
  line-height: 103.5%;
  text-align: center;
  display: inline-block;
  width: 185px;
  height: 21px;
}
.hOMESpan {
  letter-spacing: 0.09em;
}
.cHARITYDiv,
.hOMEDiv,
.tRACKDiv {
  position: absolute;
  top: 56px;
  line-height: 103.5%;
  display: inline-block;
}
.hOMEDiv {
  left: 1527px;
  cursor: pointer;
}
.cHARITYDiv,
.tRACKDiv {
  letter-spacing: 0.09em;
}
.cHARITYDiv {
  left: 1762px;
  cursor: pointer;
}
.tRACKDiv {
  left: 1647px;
  color: #893235;
}
.frameDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 1900px;
  height: 106px;
  background-image: url(../../public/frame-4@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.myAddress,
.nameOfCharity {
  position: absolute;
  top: 11px;
  left: 14px;
  letter-spacing: -0.06em;
  line-height: 97%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 104px;
  height: 37px;
}
.nameOfCharity {
  top: 56px;
}
.fOODDiv {
  top: 114px;
  left: 14px;
  display: inline-block;
}
.fOODDiv,
.mEDICINEDiv,
.moneyLEFT {
  position: absolute;
  letter-spacing: -0.06em;
  line-height: 97%;
  text-transform: uppercase;
}
.mEDICINEDiv {
  top: 114px;
  left: 208px;
  display: inline-block;
}
.moneyLEFT {
  width: calc(100% - 1198px);
  top: 6px;
  right: 210px;
  left: 988px;
  display: flex;
  align-items: center;
  height: 37px;
}
.x9c820c0412BDB5aee3175ACad7963Div {
  position: absolute;
  top: 22px;
  left: 118px;
  width: 348px;
}
.div,
.div1,
.eFJEIOJFOWJEFEJFIEJFDiv,
.x9c820c0412BDB5aee3175ACad7963Div {
  letter-spacing: -0.06em;
  line-height: 97%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  height: 16px;
}
.eFJEIOJFOWJEFEJFIEJFDiv {
  position: absolute;
  top: 66px;
  left: 118px;
  width: 348px;
}
.div,
.div1 {
  width: 51px;
}
.div {
  position: absolute;
  top: 16px;
  left: 1102px;
}
.div1 {
  top: 114px;
  left: 118px;
}
.div1,
.div2,
.trackdiv {
  position: absolute;
}
.div2 {
  top: 114px;
  left: 313px;
  letter-spacing: -0.06em;
  line-height: 97%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 51px;
  height: 16px;
}
.trackdiv {
  top: 223px;
  left: calc(50% - 651px);
  background: linear-gradient(
    90.07deg,
    #f85900 6.28%,
    #cfc1c1 34.72%,
    rgba(212, 37, 37, 0.75)
  );
  width: 1302px;
  height: 162px;
  font-size: 16px;
  color: #000;
  font-family: Federo;
}
.transparentDiv {
  position: relative;
  background-color: #000;
  width: 100%;
  height: 940.61px;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #e9e9e9;
  font-family: Exo 2;
}
